{% extends 'base.html' %} {% load static %}
{%block title%}Create Profile{%endblock%}

{% block content %}

<div class="container">

  <h3 class="text-center text-white fs-2 my-3">List of Profiles</h3>
  <p class="text-center my-3"> <a href="{% url 'create' %}" class="text-info"> Click here to create a new profile</a>
  </p>
  <!-- <button type="button" class="btn btn-success" ><a href="{% url 'create' %}">Create Profile</a></button> -->
  <table class="table table-responsive my-5 ">
    <thead>
      <tr>
        <th class="t_header text-center">S.N.</th>
        <th class="t_header text-center">Full Name</th>
        <th class="t_header text-center">Email</th>
        <th class="t_header text-center">Photo</th>
        <th class="t_header text-center">Action</th>

      </tr>
    </thead>
    <tbody>
      {% for obj in object_list%}
      <tr>
        <th class="t_body text-center">{{ forloop.counter }}</th>
        <td class="t_body text-center">{{obj.name}}</td>
        <td class="t_body text-center">{{obj.email}}</td>

        <td class="table-image ">
          <img src="{{obj.photo.url}}" alt="" class="img-fluid">
        </td>
        <td class="t_body text-center">
          <a class="btn btn-info text-white" href="{% url 'view' obj.id %}"> View </a>
          <a class="btn btn-danger text-white" href="">Delete</a>
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>
{% endblock %}